@use "../../../scss/variables.scss" as v;

/* Custom properties */
:root {
  --tooltip-text-color: v.$color-primary;
  --tooltip-background-color: white;
}

/* Wrapping */
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.Tooltip-Tip {
  position: absolute;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  left: 180%;
  top: 90%;
  transform: translateX(-100%);
  padding: 20px 25px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  font-size: 14px;
  font-family: sans-serif;
  // line-height: 1;
  z-index: 100;
  // white-space: nowrap;
  min-width: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 15px;
}

.tooltip-large {
  width: 320px;
}
.tooltip-small {
  width: 180px;
}


.pref-link {
  color: v.$color-primary;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.user-link {
  color: v.$color-secondary;
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.tooltip-logo {
  height: 18px;
}