@use "../../../scss/variables.scss" as v;

.pref-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 3rem;
  gap: 2rem;
}

.rti--container {
  // width: 100%;
  max-height: 50%;
  overflow-y: scroll;
}

.rti--container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.rti--input {
  // width: 100%;

}

em {
  display: block;
  font-size: 14px;
 
}

.form-container {
  max-width: 1200px;
  // margin: 20px 0;
  border-radius: 10px;
  padding: 30px;
  background: white;
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
}


.select-box {
  width: 60px;
  height: fit-content;
  font-size: 18px;
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;

  .select-box-hour:hover {
    background-color: v.$color-primary !important;
  }
}

label {
  font-size: 16px;
}


.pref-btn {
  background-color: v.$color-primary;
  padding: 15px 20px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  font-size: 14px;
}

.pref-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.pref-hours-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  margin: 1rem 0;

  .pref-hours-item {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 1 0 10%;
    margin: 10px;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
  }
}

/* Hide the browser's default checkbox */
.pref-hours-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  // top: 0;
  // left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.pref-hours-item:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.pref-hours-item input:checked~.checkmark {
  background-color: v.$color-primary;
}


.pref-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // padding: 20px 0;
  max-width: 1200px;
  gap: 2rem;
  flex-wrap: wrap;

  .connection-to-twitter {
    // margin: 20px 0;
    max-width: 100%;
    min-width: 150px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    background: white;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .topics-input-container {
    flex-grow: 1;
    // margin: 20px 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    display: flex;
    flex-direction: column;
    background: white;
  
    h2 {
      margin-bottom: 20px;
    } 
  }
}

.form-container {
  max-width: 1200px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  background: white;
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
}

@media screen and (max-width: 450px) {

  .pref-container {
    margin: 2rem 0;
  }
  .pref-btn {
    padding: 10px;
    font-size: 12px;
    margin-top: 15px;
  }

  .rti--input {
    width: 100%;
  }
  
  
  .pref-top {
    padding: 0;
    // margin: 20px;
    row-gap: 2rem;
  
    .connection-to-twitter {
      margin: 0;
      width: 320px;
    }
  
    .topics-input-container {
      width: 320px;
      margin: 0;
      padding: 20px;
      max-height: 30%;
      
      form {
        max-height: 100%;
  
        .rti--container {
          --rti-tag-padding: .01rem;
        }
      }
  
      h2 {
        margin-bottom: 15px;
        font-size: 16px;
      }
  
      p {
        display: none;
      }
    }
    
  }

  .form-container {
    // width: 320px;
    margin: 0 2rem;
    padding: 30px;

    .time-label {
      margin-bottom: 10px;
      font-size: 16px;
    }

    .select-box {
      padding: 8px 0;
      margin: 0px 0px 5px 10px;
    }

    .pref-hours-list {
      row-gap: 0px;
      margin-bottom: -5px;
      font-size: 12px;
  
      .pref-hours-item {
        font-size: 14px;
        margin: 10px;
      }
    }
  }

}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.connect-btn {
  padding: 10px 20px;
  min-width: 150px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  background-color: #4285f4;
  color: white;
  border-radius: 10px;
  font-size: 14px;
}