@use "../../../scss/variables.scss" as v;
// .icon-button {
//   height: 30px;
//   margin: 3px;
//   padding: 2%;
// }
.tweets-list {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.tweet-li{
  display: flex;
  margin: 30px;
  column-gap: 15px;
}


.selection-header {
  display: flex;
  justify-content: flex-start;

}

.next-tweet-time {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 400;
  font-size: 1.2rem;
  
  .h2 {
    margin-top: .5rem;
    font-weight: 600;
    color: v.$color-primary;
  }
} 
       
.generate-btn {
  background-image: linear-gradient(to right, #B24592 0%, #F15F79  51%, #B24592  100%);
  margin: 20px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 300px;
}

.generate-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.selection-container{
  display: flex;
  flex-direction: column;
}

.selection-header-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2rem;
}

.header-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}