@use "../../../scss/variables.scss" as v;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$Soft-red;
}

.header_items {
  display: flex;
  gap: 2rem;
}

.header_item {
  color: v.$Dark-grayish-blue;
  transition: 0.3s ease;

  &:hover {
    color: v.$Soft-red;
  }
}
.nav {
  z-index: 999;
}

.menu,
.close {
  display: none;
}
