@use "../../../scss/variables.scss" as v;


.header {
  margin: 0 auto;
  max-width: 100%;
  height: 10vh;
  padding: 60px 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  // background-color: v.$color-primary;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-text {
      color: v.$color-light-black;
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 1rem;
      align-self: flex-end;
      margin-left: 7px;
    }
  }

  .header_items {
    display: flex;
    gap: 2rem;

    .header_item {
      color: v.$color-light-black;
      transition: 0.3s ease;

      &:hover {
        color: v.$color-primary;
      }
    }
  }
}







