@use "../../../../scss/variables.scss" as v;

.header {
  margin: 0 auto;
  max-width: 100%;
  height: 10vh;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$color-primary;

  .header_items {
    display: flex;
    gap: 2rem;

    .header_item {
      color: v.$color-light-black;
      transition: 0.3s ease;

      &:hover {
        color: v.$color-primary;
      }
    }
  }

  .nav {
    z-index: 999;
  }

  .menu,
  .close {
    display: none;
  }

}