.chart-container {
  margin-top: 100px;
  height: 500px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.growth {
  margin-bottom: 10px;
}
@media screen and (max-width: 400px) {
  .chart-container {
    margin-top: 50px;
    height: 300px;
    transition: all 0.5s ease-in-out;
  }
}
  
