.user-submenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .menu-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    justify-content: center;
    -webkit-animation: menu-container 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: menu-container 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes menu-container {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    }
  }

  @keyframes menu-container {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    }
  }

  .sumit-new-preferences {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
}