/* Spinner */

.spinnerContainer {
  position: absolute;
  top: 5vh;
  left: 50%;
  z-index: 100000;
  display: grid;
  place-items: center;
  background: transparent;
  height: 20px;
  width: 20px;
}
.spinner {
  display: flex;
  gap: 0.275rem;
  width: 3rem;
  height: 3rem;
}

@keyframes bounce {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
.spinner .shape2 {
  animation-delay: -1s;
}
.spinner .shape3 {
  animation-delay: -0.9s;
}
.spinner .shape4 {
  animation-delay: -0.8s;
}
.spinner .shape5 {
  animation-delay: -0.7s;
}