.profile-picture-body {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 21, 255);
  align-items: center;
  cursor: pointer;

  // .profile-picture-upload {
  //   display: none;
  // }

  .show-input {
    display: block;
  }

  .cool-upload {
    // border: 1px solid #000;
    // cursor: pointer;
    // display: inline-block;
    // padding: 5px 15px;
    // display: none;
  }

  .cool-upload input[type='file'] {
    display: none;
  }

  .selected-image-modal {
    aspect-ratio: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .profile-picture-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}