@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.profile-picture-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .show-input {
    margin-top: 5px;
    display: block;
  }

  .cool-upload {
    cursor: pointer;
  }

  .cool-upload input[type='file'] {
    display: none;
  }

  .selected-image-modal {
    aspect-ratio: 1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #000;
    overflow: hidden;
    margin-top: 15px;
    object-fit: cover;
  }

  .profile-picture-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}