@use "../../../scss/variables.scss" as v;

.user-navbar {
  margin: 0 auto;
  width: 100%;
  height: 5vh;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$color-white-navbar;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
  transition: all 0.5s;
    z-index: 997;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$color-primary;

    .logo {
      color: v.$color-primary;
    }

    .logo-text {
      font-size: 1.3rem;
      font-weight: 600;
      margin-left: 1rem;
      align-self: flex-end;
      margin-left: 7px;
    }
  }

  .navbar-items {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    .icon-button {
      height: 30px;
      margin: 3px;
      padding: 2%;
    }

    .navbar-warning {
      svg {
        color: v.$color-primary;
        cursor: auto;
      }
    }

    .navbar-user {
      svg {
        cursor: auto;
      }
    }
  }

}



.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mobile-menu-button {
  color: v.$color-primary;
  display: none;
}

@media (max-width: 1199px) {
  .user-navbar {
    .logo-container {
      .logo {
        height: 25px;
      }
      .logo-text {
        font-size: 1rem;
      }
    }
  }

  
  .mobile-menu-button {
    display: block;
  }
}

.profile-picture-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}