@use "./variables.scss" as v;

.btn {
  min-width: 145px;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 15px;
  background-color: v.$color-primary;
  color: v.$white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  &:hover {
    background-color:transparent;
    color: v.$color-primary;
    border: 1px solid v.$color-primary;
  }
}

.btn-twitter {
  background-color: #4285f4;
  color:v.$white;

  &:hover {
    background-color: #357ae8;
    border: none;
  }
}

.btn-inverted {
  background-color: transparent;
  color: v.$white;
  border: 1px solid v.$color-primary;

  &:hover {
    background-color: v.$color-primary;
    color:v.$white;
    border: none;
  }
}

.btn-spinner {
  width: 30px;
  height: 30px;
}

.btn-hidden {
  display: none;
}