@use "./variables.scss" as v;

.dashboard-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 100%;

  .dashboard-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: v.$color-light-gray;
    padding: 20px 40px;
  }
}