@use "./variables.scss" as v;

.home-page {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(18,22,31,1) 0%, rgba(27,58,102,1) 64%);
}

.slogan {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  color: v.$color-Off-white;
  font-family: 'Lato', sans-serif;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  gap: 150px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 0;
}

.banner-icon-slogan {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}

.home-icon {
  color: v.$color-Off-white;
  font-size: 40px;
}

.banner-slogan {
  color: v.$color-Off-white;
}

.h1 {
  font-size: 50px;
}


.trial-btn {
  background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.trial-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.tweet-counter-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 25px;
}

.counter-container {
  display: flex;
  gap: 50px;
  align-items: center;
  color: v.$color-Off-white;
}

.tweet-wrap-homepage {
  max-width: 670px;
  min-width: 320px;
  margin: 0 auto;
  padding: 30px;
  background: rgb(255 255 255 / 93%);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;

  .tweet-header {
    .avator {
      max-height: 100%;
      max-width: 100%;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-top: -5px;
    }
  }
}

.up-icon {
  width: 40px;
}

@media screen and (max-width: 800px) {

  .slogan {
    font-size: 30px;
    margin: 70px 30px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    gap: 50px;
  }

  .banner {
    gap: 20px;
    font-size: 10px;
  }

  .home-icon {
    font-size: 20px;
  }

  .h1 {
    display: none;
  }

  .counter-container {
    display: none;
  }

  .header {
    padding: 50px 20px 20px;
    position: relative;

    .logo {
      height: 35px;
    }
    .logo-text {
      display: none;
    }

    .header_items {
      position: absolute;
      top: 500px;
      left: 15%;
      display: flex;
      gap: 50px;
    }

    .btn {
      min-width: fit-content;
      font-size: 16px;
      padding: 10px 20px;
    }
  }

  .tweet-wrap-homepage {
    // padding: 10px;
    // min-width: 300px;
    display: none;
  }

}