@use "./variables.scss" as v;

.home-page {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
}

.slogan {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  color: v.$color-Off-white;
  font-family: 'Lato', sans-serif;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  gap: 150px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 0;
}

.banner-icon-slogan {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}

.home-icon {
  color: v.$color-Off-white;
  font-size: 40px;
}

.banner-slogan {
  color: v.$color-Off-white;
}

.h1 {
  font-size: 50px;
}


.trial-btn {
  background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.trial-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.tweet-counter-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 25px;
}

.counter-container {
  display: flex;
  gap: 50px;
  align-items: center;
  color: v.$color-Off-white;
}

.tweet-wrap-homepage {
  max-width: 670px;
  min-width: 320px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.up-icon {
  width: 40px;
}

@media screen and (max-width: 800px) {
  .home-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
  }

  .slogan {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: v.$color-Off-white;
    font-family: 'Lato', sans-serif;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    gap: 50px;
    // height: 100%;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0;
    font-size: 10px;
  }

  .home-icon {
    color: v.$color-Off-white;
    font-size: 20px;
  }

  .h1 {
    display: none;
  }

  .counter-container {
    display: none;
  }

  .header {
    padding: 10px;
    display: flex;

    .logo-text {
      display: none;
    }

    .header_items {
      display: flex;
      gap: 10px;
    }

    .btn {
      height: 30px;
      font-size: 13px;
      padding: 0px;
      background-color: #61045F;
      color: white;
    }
  }

  .tweet-wrap-homepage {
    max-width: 670px;
    min-width: 320px;
    margin: 0 auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;

  }

}