.container-user-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;

  // .right-menu-slide-right {
  //   -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  //   animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  // }

  @-webkit-keyframes right-menu-slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
  }

  @keyframes right-menu-slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
  }

  .user-setting-picture {
    display: flex;
    flex-direction: column;
    padding: 20px;
    // border: 1px solid green;
    margin-bottom: 20px;
    align-items: center;

    .user-profile-picture-circle {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .user-profile-picture-circle img {
      width: 90%;
      height: 90%;
      object-fit: cover;
    }

    .user-set-profile-avatar {
      display: flex;
      border: 1px solid pink;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      .submit-button {
        display: flex;
        border: 1px solid black;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        display: none;
      }

      .show-submit {
        display: block;
      }
    }
  }

  .current-user-settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #eee;
    padding: 20px;
    margin-bottom: 20px;

    .frequency-tweet-posting {
      display: flex;
      flex-direction: row;
      gap: 15px;
      color: grey;
    }

    .selected-hours {
      display: flex;
      flex-direction: row;
      gap: 15px;
      color: grey;
    }
  }

  .connect-btn {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .connect-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}