@use "./variables.scss" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*::selection {
  background-color: v.$color-primary-light;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

#root {
  min-height: 100vh;
}

.logo {
  height: 50px;
}

.prim-color {
  color: v.$color-primary;
}